[Unit]
Description=device discovery agent
Documentation=https://github.com/open-edge-platform/infra-onboarding
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/device-discovery/device-discovery
StandardOutput=journal
StandardError=journal
TimeoutStartSec=600s
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
