SPECS/CUnit
SPECS/Cython
SPECS/GSL
SPECS/IP2Location
SPECS/ModemManager
SPECS/OpenIPMI
SPECS/PyYAML
SPECS/R
SPECS/SymCrypt
SPECS/SymCrypt-OpenSSL
SPECS/abseil-cpp
SPECS/acl
SPECS/acpica-tools
SPECS/adwaita-icon-theme
SPECS/afflib
SPECS/aide
SPECS/alsa-utils
SPECS/annobin
SPECS/ansible
SPECS/ant
SPECS/ant-junit
SPECS/antlr
SPECS/apache-commons-cli
SPECS/apache-commons-lang3
SPECS/apache-commons-logging
SPECS/apr
SPECS/apr-util
SPECS/archivemount
SPECS/asciidoc
SPECS/aspell
SPECS/at
SPECS/at-spi2-atk
SPECS/at-spi2-core
SPECS/atf
SPECS/atftp
SPECS/atinject
SPECS/atk
SPECS/atop
SPECS/attr
SPECS/audit
SPECS/augeas
SPECS/authbind
SPECS/authd
SPECS/authselect
SPECS/autoconf
SPECS/autoconf-archive
SPECS/autoconf213
SPECS/autofs
SPECS/autogen
SPECS/automake
SPECS/avahi
SPECS/azure-iot-sdk-c
SPECS/azure-nvme-utils
SPECS/azure-storage-cpp
SPECS/azurelinux-image-tools
SPECS/babel
SPECS/babeltrace2
SPECS/bash
SPECS/bash-completion
SPECS/bazel
SPECS/bc
SPECS/bcc
SPECS/bind
SPECS/binutils
SPECS/bison
SPECS/blktrace
SPECS/bluez
SPECS/bmake
SPECS/bmon
SPECS/boost
SPECS/bpftrace
SPECS/brotli
SPECS/btrfs-progs
SPECS/bubblewrap
SPECS/byacc
SPECS/byaccj
SPECS/bzip2
SPECS/c-ares
SPECS/cairo
SPECS/cal10n
SPECS/catch
SPECS/ccache
SPECS/cdrkit
SPECS/ceph
SPECS/cereal
SPECS/check
SPECS/check-restart
SPECS/checkpolicy
SPECS/checksec
SPECS/chkconfig
SPECS/chrony
SPECS/chrpath
SPECS/cifs-utils
SPECS/ck
SPECS/clamav
SPECS/clang
SPECS/cloud-hypervisor
SPECS/cloud-utils-growpart
SPECS/cmake
SPECS/cmocka
SPECS/collectd
SPECS/colm
SPECS/color-filesystem
SPECS/colord
SPECS/compiler-rt
SPECS/conda
SPECS/conmon
SPECS/conntrack-tools
SPECS/coredns
SPECS/coreutils
SPECS/cpio
SPECS/cpprest
SPECS/cppunit
SPECS/cpufrequtils
SPECS/cpulimit
SPECS/cracklib
SPECS/crash
SPECS/crash-gcore-command
SPECS/createrepo_c
SPECS/cri-tools
SPECS/cryptsetup
SPECS/ctags
SPECS/cups
SPECS/curl
SPECS/cyrus-sasl
SPECS/cyrus-sasl-bootstrap
SPECS/dasel
SPECS/dbus
SPECS/dbus-glib
SPECS/dbus-python
SPECS/dconf
SPECS/debootstrap
SPECS/debugedit
SPECS/dejagnu
SPECS/dejavu-fonts
SPECS/desktop-file-utils
SPECS/device-mapper-multipath
SPECS/dhcpcd
SPECS/dialog
SPECS/dietlibc
SPECS/diffutils
SPECS/ding-libs
SPECS/distribution-gpg-keys
SPECS/dkms
SPECS/dmidecode
SPECS/dnf
SPECS/dnf-plugins-core
SPECS/dnf5
SPECS/dnsmasq
SPECS/docbook-dtd-xml
SPECS/docbook-dtds
SPECS/docbook-style-xsl
SPECS/docbook5-schemas
SPECS/docker-buildx
SPECS/dos2unix
SPECS/doxygen
SPECS/dpdk
SPECS/dstat
SPECS/dtc
SPECS/duktape
SPECS/dwarves
SPECS/dwz
SPECS/e2fsprogs
SPECS/ebtables
SPECS/ed
SPECS/efivar
SPECS/egl-wayland
SPECS/eglexternalplatform
SPECS/elixir
SPECS/emacs
SPECS/enchant2
SPECS/environment-modules
SPECS/erlang
SPECS/erofs-utils
SPECS/espeak-ng
SPECS/espeakup
SPECS/execstack
SPECS/expat
SPECS/expect
SPECS/expected
SPECS/extra-cmake-modules
SPECS/fakeroot
SPECS/fcgi
SPECS/fdupes
SPECS/file
SPECS/filesystem
SPECS/fillup
SPECS/findutils
SPECS/fio
SPECS/firewalld
SPECS/flannel
SPECS/flatbuffers
SPECS/flex
SPECS/flux
SPECS/fmt
SPECS/fontawesome-fonts
SPECS/fontawesome4-fonts
SPECS/fontconfig
SPECS/fontpackages
SPECS/fping
SPECS/freefont
SPECS/freeglut
SPECS/freeipmi
SPECS/freetype
SPECS/fribidi
SPECS/frr
SPECS/fsverity-utils
SPECS/fuse
SPECS/fuse-zip
SPECS/fuse3
SPECS/gawk
SPECS/gbenchmark
SPECS/gc
SPECS/gcc
SPECS/gcovr
SPECS/gd
SPECS/gdb
SPECS/gdbm
SPECS/gdk-pixbuf2
SPECS/geos
SPECS/gettext
SPECS/gflags
SPECS/gfs2-utils
SPECS/giflib
SPECS/git
SPECS/glib
SPECS/glib-networking
SPECS/glibc
SPECS/glibmm
SPECS/glslang
SPECS/glusterfs
SPECS/gmp
SPECS/gnome-common
SPECS/gnu-efi
SPECS/gnupg2
SPECS/gnuplot
SPECS/gnutls
SPECS/golang
SPECS/google-guice
SPECS/google-roboto-slab-fonts
SPECS/gperf
SPECS/gperftools
SPECS/gpgme
SPECS/gptfdisk
SPECS/graphviz
SPECS/grep
SPECS/groff
SPECS/grpc
SPECS/grubby
SPECS/gsettings-desktop-schemas
SPECS/gsm
SPECS/gtest
SPECS/gtk-doc
SPECS/gtk-update-icon-cache
SPECS/gtk2
SPECS/gtk3
SPECS/guava
SPECS/guile
SPECS/gzip
SPECS/hamcrest
SPECS/haproxy
SPECS/hardening-check
SPECS/harfbuzz
SPECS/haveged
SPECS/hdf5
SPECS/hdparm
SPECS/heimdal
SPECS/help2man
SPECS/hexedit
SPECS/hicolor-icon-theme
SPECS/hivex
SPECS/hostname
SPECS/htop
SPECS/http-parser
SPECS/httpd
SPECS/hunspell
SPECS/hunspell-en
SPECS/hwdata
SPECS/hwloc
SPECS/hyperscan
SPECS/hyperv-daemons
SPECS/i2c-tools
SPECS/iana-etc
SPECS/ibarr
SPECS/ibsim
SPECS/icoutils
SPECS/icu
SPECS/im-chooser
SPECS/imsettings
SPECS/infinipath-psm
SPECS/influxdb
SPECS/inih
SPECS/iniparser
SPECS/initramfs
SPECS/initscripts
SPECS/inotify-tools
SPECS/intel-ipsec-mb
SPECS/intel-pf-bb-config
SPECS/intltool
SPECS/iotop
SPECS/iperf3
SPECS/ipmitool
SPECS/ipset
SPECS/iptables
SPECS/iptraf-ng
SPECS/iputils
SPECS/ipvsadm
SPECS/ipxe
SPECS/irqbalance
SPECS/iscsi-initiator-utils
SPECS/isns-utils
SPECS/itstool
SPECS/ivykis
SPECS/iw
SPECS/jakarta-servlet
SPECS/jansson
SPECS/jasper
SPECS/java-cup
SPECS/javapackages-bootstrap
SPECS/javapackages-tools
SPECS/javassist
SPECS/jemalloc
SPECS/jflex
SPECS/jna
SPECS/jq
SPECS/json-c
SPECS/json-glib
SPECS/jsonbuilder
SPECS/jsr-305
SPECS/junit
SPECS/jurand
SPECS/kata-containers
SPECS/kata-containers-cc
SPECS/kata-packages-uvm
SPECS/kbd
SPECS/kde-settings
SPECS/keepalived
SPECS/keras
SPECS/kernel-64k
SPECS/kernel-hwe
SPECS/kernel-hwe-headers
SPECS/kernel-srpm-macros
SPECS/kernel-uvm
SPECS/kexec-tools
SPECS/keyutils
SPECS/kf
SPECS/kf-kconfig
SPECS/kf-kcoreaddons
SPECS/kf-ki18n
SPECS/kf-kwidgetsaddons
SPECS/kmod
SPECS/kpatch
SPECS/kpmcore
SPECS/krb5
SPECS/ksh
SPECS/kubernetes
SPECS/kubevirt
SPECS/kyua
SPECS/lapack
SPECS/lato-fonts
SPECS/lcms2
SPECS/ldns
SPECS/less
SPECS/leveldb
SPECS/libICE
SPECS/libSM
SPECS/libX11
SPECS/libXau
SPECS/libXaw
SPECS/libXcomposite
SPECS/libXcursor
SPECS/libXdamage
SPECS/libXdmcp
SPECS/libXext
SPECS/libXfixes
SPECS/libXfont2
SPECS/libXft
SPECS/libXi
SPECS/libXinerama
SPECS/libXmu
SPECS/libXpm
SPECS/libXrandr
SPECS/libXrender
SPECS/libXres
SPECS/libXt
SPECS/libXtst
SPECS/libXv
SPECS/libXxf86vm
SPECS/libacvp
SPECS/libaec
SPECS/libaio
SPECS/libarchive
SPECS/libarrow
SPECS/libassuan
SPECS/libatasmart
SPECS/libatomic_ops
SPECS/libburn
SPECS/libcacard
SPECS/libcap
SPECS/libcap-ng
SPECS/libcgroup
SPECS/libcomps
SPECS/libconfig
SPECS/libconfini
SPECS/libconfuse
SPECS/libcontainers-common
SPECS/libcxx
SPECS/libdaemon
SPECS/libdb
SPECS/libdecor
SPECS/libdnet
SPECS/libdnf
SPECS/libdwarf
SPECS/libecap
SPECS/libedit
SPECS/libei
SPECS/libell
SPECS/libepoxy
SPECS/libestr
SPECS/libev
SPECS/libevdev
SPECS/libevent
SPECS/libexif
SPECS/libfabric
SPECS/libfastjson
SPECS/libffi
SPECS/libfontenc
SPECS/libgcrypt
SPECS/libgdiplus
SPECS/libgit2
SPECS/libglvnd
SPECS/libgpg-error
SPECS/libgssglue
SPECS/libgudev
SPECS/libguestfs
SPECS/libgusb
SPECS/libgxim
SPECS/libhugetlbfs
SPECS/libical
SPECS/libidn2
SPECS/libinput
SPECS/libiscsi
SPECS/libisoburn
SPECS/libisofs
SPECS/libjpeg-turbo
SPECS/libkcapi
SPECS/libksba
SPECS/libldm
SPECS/liblogging
SPECS/liblognorm
SPECS/liblzf
SPECS/libmamba
SPECS/libmaxminddb
SPECS/libmbim
SPECS/libmd
SPECS/libmemcached-awesome
SPECS/libmetalink
SPECS/libmicrohttpd
SPECS/libmnl
SPECS/libmodulemd
SPECS/libmpc
SPECS/libmspack
SPECS/libndp
SPECS/libnetfilter_conntrack
SPECS/libnetfilter_cthelper
SPECS/libnetfilter_cttimeout
SPECS/libnetfilter_log
SPECS/libnetfilter_queue
SPECS/libnfnetlink
SPECS/libnfs
SPECS/libnftnl
SPECS/libnl3
SPECS/libnotify
SPECS/libnsl2
SPECS/libnvidia-container
SPECS/libnvme
SPECS/libpcap
SPECS/libpciaccess
SPECS/libpipeline
SPECS/libpng
SPECS/libpsl
SPECS/libpsm2
SPECS/libpwquality
SPECS/libqmi
SPECS/librdkafka
SPECS/librelp
SPECS/librepo
SPECS/libreswan
SPECS/librsvg2
SPECS/librsync
SPECS/libsafec
SPECS/libseccomp
SPECS/libselinux
SPECS/libsemanage
SPECS/libsepol
SPECS/libserf
SPECS/libsigc++30
SPECS/libslirp
SPECS/libsmi
SPECS/libsndfile
SPECS/libsodium
SPECS/libsolv
SPECS/libsoup
SPECS/libssh
SPECS/libssh2
SPECS/libstoragemgmt
SPECS/libtalloc
SPECS/libtar
SPECS/libtasn1
SPECS/libtdb
SPECS/libtiff
SPECS/libtirpc
SPECS/libtool
SPECS/libtpms
SPECS/libtracecmd
SPECS/libtraceevent
SPECS/libtracefs
SPECS/libunistring
SPECS/libunwind
SPECS/liburing
SPECS/libusb
SPECS/libuser
SPECS/libuv
SPECS/libvirt-dbus
SPECS/libvirt-glib
SPECS/libvirt-java
SPECS/libvirt-python
SPECS/libvoikko
SPECS/libwacom
SPECS/libwebp
SPECS/libxcb
SPECS/libxcvt
SPECS/libxfce4util
SPECS/libxkbcommon
SPECS/libxkbfile
SPECS/libxml++
SPECS/libxml2
SPECS/libxshmfence
SPECS/libxslt
SPECS/libyaml
SPECS/libyang
SPECS/libzip
SPECS/lld
SPECS/lldb
SPECS/lldpad
SPECS/lldpd
SPECS/llvm
SPECS/lm-sensors
SPECS/lmdb
SPECS/log4cpp
SPECS/logrotate
SPECS/lsb-release
SPECS/lshw
SPECS/lsof
SPECS/lsscsi
SPECS/ltp
SPECS/ltrace
SPECS/lttng-consume
SPECS/lttng-tools
SPECS/lttng-ust
SPECS/lua
SPECS/lua-rpm-macros
SPECS/luajit
SPECS/lujavrite
SPECS/lutok
SPECS/lvm2
SPECS/lynx
SPECS/lz4
SPECS/lzo
SPECS/lzop
SPECS/m2crypto
SPECS/m4
SPECS/mac-robber
SPECS/mailcap
SPECS/make
SPECS/malaga
SPECS/malaga-suomi-voikko
SPECS/man-db
SPECS/man-pages
SPECS/mandoc
SPECS/mariadb
SPECS/maven
SPECS/maven-compiler-plugin
SPECS/maven-jar-plugin
SPECS/maven-resolver
SPECS/maven-resources-plugin
SPECS/maven-surefire
SPECS/maven-wagon
SPECS/mc
SPECS/mcpp
SPECS/mcstrans
SPECS/mdadm
SPECS/mdevctl
SPECS/memcached
SPECS/mercurial
SPECS/mesa-libGLU
SPECS/mlnx-ethtool
SPECS/mlnx-iproute2
SPECS/mlnx-tools
SPECS/mlocate
SPECS/mlx-steering-dump
SPECS/mm-common
SPECS/mokutil
SPECS/mpfr
SPECS/msgpack
SPECS/msr-tools
SPECS/mstflint
SPECS/mtdev
SPECS/mtools
SPECS/mtr
SPECS/multiperf
SPECS/munge
SPECS/mysql
SPECS/nano
SPECS/nasm
SPECS/nbd
SPECS/nbdkit
SPECS/ncompress
SPECS/ncurses
SPECS/ndctl
SPECS/net-snmp
SPECS/net-tools
SPECS/netavark
SPECS/netplan
SPECS/nettle
SPECS/networkd-dispatcher
SPECS/newt
SPECS/nfs-utils
SPECS/nfs4-acl-tools
SPECS/nftables
SPECS/nghttp2
SPECS/nginx
SPECS/ninja-build
SPECS/nlohmann-json
SPECS/nlopt
SPECS/nmap
SPECS/nodejs
SPECS/npth
SPECS/nspr
SPECS/nss
SPECS/nss-altfiles
SPECS/nss-mdns
SPECS/nss_nis
SPECS/nss_wrapper
SPECS/ntfs-3g
SPECS/ntfs-3g-system-compression
SPECS/ntopng
SPECS/ntp
SPECS/numactl
SPECS/numad
SPECS/numpy
SPECS/nvidia-container-toolkit
SPECS/nvme-cli
SPECS/nvml
SPECS/oath-toolkit
SPECS/objectweb-asm
SPECS/ocaml
SPECS/ocaml-alcotest
SPECS/ocaml-astring
SPECS/ocaml-augeas
SPECS/ocaml-base
SPECS/ocaml-bigarray-compat
SPECS/ocaml-bisect-ppx
SPECS/ocaml-camlp-streams
SPECS/ocaml-camomile
SPECS/ocaml-cinaps
SPECS/ocaml-cmdliner
SPECS/ocaml-compiler-libs-janestreet
SPECS/ocaml-cppo
SPECS/ocaml-csexp
SPECS/ocaml-ctypes
SPECS/ocaml-dune
SPECS/ocaml-findlib
SPECS/ocaml-fmt
SPECS/ocaml-gettext
SPECS/ocaml-integers
SPECS/ocaml-luv
SPECS/ocaml-lwt
SPECS/ocaml-mmap
SPECS/ocaml-num
SPECS/ocaml-ocamlbuild
SPECS/ocaml-ocplib-endian
SPECS/ocaml-ounit
SPECS/ocaml-parsexp
SPECS/ocaml-pp
SPECS/ocaml-ppx-derivers
SPECS/ocaml-ppx-here
SPECS/ocaml-ppx-let
SPECS/ocaml-ppxlib
SPECS/ocaml-re
SPECS/ocaml-react
SPECS/ocaml-result
SPECS/ocaml-seq
SPECS/ocaml-sexplib
SPECS/ocaml-sexplib0
SPECS/ocaml-srpm-macros
SPECS/ocaml-stdio
SPECS/ocaml-stdlib-random
SPECS/ocaml-topkg
SPECS/ocaml-uutf
SPECS/ofed-docs
SPECS/ofed-scripts
SPECS/oniguruma
SPECS/open-vm-tools
SPECS/opencsd
SPECS/openldap
SPECS/openmpi
SPECS/opensc
SPECS/openscap
SPECS/opensm
SPECS/opensp
SPECS/openssl
SPECS/openssl-pkcs11
SPECS/opentelemetry-cpp
SPECS/openvswitch
SPECS/orangefs
SPECS/ostree
SPECS/p11-kit
SPECS/p7zip
SPECS/pam
SPECS/pam_krb5
SPECS/pam_wrapper
SPECS/pango
SPECS/parted
SPECS/patch
SPECS/patchelf
SPECS/patchutils
SPECS/patterns-ceph-containers
SPECS/pcaudiolib
SPECS/pciutils
SPECS/pcre2
SPECS/pcsc-lite
SPECS/pcsc-lite-ccid
SPECS/perftest
SPECS/perl
SPECS/perl-Algorithm-C3
SPECS/perl-App-cpanminus
SPECS/perl-Archive-Zip
SPECS/perl-B-COW
SPECS/perl-B-Hooks-OP-Check
SPECS/perl-Bit-Vector
SPECS/perl-Bytes-Random-Secure
SPECS/perl-CGI
SPECS/perl-CPAN-Changes
SPECS/perl-CPAN-DistnameInfo
SPECS/perl-CPAN-Meta-Check
SPECS/perl-Canary-Stability
SPECS/perl-Capture-Tiny
SPECS/perl-Carp-Clan
SPECS/perl-Class-ISA
SPECS/perl-Class-Method-Modifiers
SPECS/perl-Class-XSAccessor
SPECS/perl-Clone
SPECS/perl-Compress-Bzip2
SPECS/perl-Crypt-Random-Seed
SPECS/perl-Crypt-SSLeay
SPECS/perl-DBD-SQLite
SPECS/perl-DBI
SPECS/perl-DBIx-Simple
SPECS/perl-Data-Dump
SPECS/perl-Data-OptList
SPECS/perl-Date-Calc
SPECS/perl-Devel-Caller
SPECS/perl-Devel-CheckBin
SPECS/perl-Devel-CheckLib
SPECS/perl-Devel-Cycle
SPECS/perl-Devel-GlobalDestruction
SPECS/perl-Devel-GlobalDestruction-XS
SPECS/perl-Devel-Hide
SPECS/perl-Devel-LexAlias
SPECS/perl-Devel-Refcount
SPECS/perl-Devel-StackTrace
SPECS/perl-Devel-Symdump
SPECS/perl-Digest-HMAC
SPECS/perl-Digest-SHA1
SPECS/perl-Encode-Locale
SPECS/perl-Expect
SPECS/perl-Exporter-Tiny
SPECS/perl-ExtUtils-Depends
SPECS/perl-Fedora-VSP
SPECS/perl-File-HomeDir
SPECS/perl-File-Listing
SPECS/perl-File-Which
SPECS/perl-File-pushd
SPECS/perl-HTML-Parser
SPECS/perl-HTML-Tagset
SPECS/perl-HTTP-Cookies
SPECS/perl-HTTP-Daemon
SPECS/perl-HTTP-Date
SPECS/perl-HTTP-Message
SPECS/perl-HTTP-Negotiate
SPECS/perl-IO-HTML
SPECS/perl-IO-Socket-SSL
SPECS/perl-IO-String
SPECS/perl-IO-Tty
SPECS/perl-IO-stringy
SPECS/perl-Import-Into
SPECS/perl-JSON
SPECS/perl-JSON-Any
SPECS/perl-JSON-XS
SPECS/perl-LWP-MediaTypes
SPECS/perl-List-MoreUtils
SPECS/perl-Match-Simple
SPECS/perl-Math-Random-ISAAC
SPECS/perl-Mock-Config
SPECS/perl-Module-Build
SPECS/perl-Module-CPANfile
SPECS/perl-Module-Implementation
SPECS/perl-Module-Install
SPECS/perl-Module-Install-AuthorTests
SPECS/perl-Module-Install-Repository
SPECS/perl-Module-Runtime
SPECS/perl-Module-ScanDeps
SPECS/perl-Moo
SPECS/perl-NTLM
SPECS/perl-Net-HTTP
SPECS/perl-Net-SSLeay
SPECS/perl-NetAddr-IP
SPECS/perl-Object-Accessor
SPECS/perl-Package-Generator
SPECS/perl-PadWalker
SPECS/perl-Params-Util
SPECS/perl-Parse-PMFile
SPECS/perl-Path-Class
SPECS/perl-Perl-Destruct-Level
SPECS/perl-Pod-Coverage
SPECS/perl-Pod-Parser
SPECS/perl-Role-Tiny
SPECS/perl-SUPER
SPECS/perl-String-ShellQuote
SPECS/perl-Sub-Exporter
SPECS/perl-Sub-Exporter-Progressive
SPECS/perl-Sub-Identify
SPECS/perl-Sub-Infix
SPECS/perl-Sub-Install
SPECS/perl-Sub-Name
SPECS/perl-Sub-Quote
SPECS/perl-Sys-Virt
SPECS/perl-Test-Deep
SPECS/perl-Test-Fatal
SPECS/perl-Test-Harness
SPECS/perl-Test-LeakTrace
SPECS/perl-Test-Memory-Cycle
SPECS/perl-Test-Needs
SPECS/perl-Test-NoWarnings
SPECS/perl-Test-Output
SPECS/perl-Test-Pod
SPECS/perl-Test-Pod-Coverage
SPECS/perl-Test-Requires
SPECS/perl-Test-Taint
SPECS/perl-Test-Warnings
SPECS/perl-Test-Without-Module
SPECS/perl-Text-Template
SPECS/perl-TimeDate
SPECS/perl-Try-Tiny
SPECS/perl-Type-Tiny
SPECS/perl-Types-Serialiser
SPECS/perl-URI
SPECS/perl-WWW-Curl
SPECS/perl-WWW-RobotRules
SPECS/perl-XML-LibXML
SPECS/perl-XML-NamespaceSupport
SPECS/perl-XML-Parser
SPECS/perl-XML-SAX
SPECS/perl-XML-SAX-Base
SPECS/perl-XML-XPath
SPECS/perl-YAML
SPECS/perl-YAML-Tiny
SPECS/perl-bareword-filehandles
SPECS/perl-common-sense
SPECS/perl-generators
SPECS/perl-indirect
SPECS/perl-libintl-perl
SPECS/perl-libwww-perl
SPECS/perl-local-lib
SPECS/perl-multidimensional
SPECS/perl-strictures
SPECS/pgbouncer
SPECS/php
SPECS/php-pear
SPECS/php-pecl-apcu
SPECS/php-pecl-zip
SPECS/picosat
SPECS/pigz
SPECS/pinentry
SPECS/pixman
SPECS/pkgconf
SPECS/plexus-cipher
SPECS/plexus-classworlds
SPECS/plexus-containers
SPECS/plexus-interpolation
SPECS/plexus-sec-dispatcher
SPECS/plexus-utils
SPECS/pmix
SPECS/poetry
SPECS/policycoreutils
SPECS/polkit
SPECS/polkit-qt-1
SPECS/popt
SPECS/postfix
SPECS/postgresql
SPECS/priv_wrapper
SPECS/procps-ng
SPECS/protobuf
SPECS/protobuf-c
SPECS/psmisc
SPECS/pssh
SPECS/pth
SPECS/pugixml
SPECS/pwgen
SPECS/pyOpenSSL
SPECS/pyasn1-modules
SPECS/pybind11
SPECS/pycairo
SPECS/pyelftools
SPECS/pyflakes
SPECS/pygobject3
SPECS/pyparsing
SPECS/pyproject-rpm-macros
SPECS/pytest
SPECS/python-absl-py
SPECS/python-appdirs
SPECS/python-archspec
SPECS/python-asn1crypto
SPECS/python-astunparse
SPECS/python-async-generator
SPECS/python-atomicwrites
SPECS/python-attrs
SPECS/python-backoff
SPECS/python-bcrypt
SPECS/python-blinker
SPECS/python-boltons
SPECS/python-cached_property
SPECS/python-cachetools
SPECS/python-certifi
SPECS/python-cffi
SPECS/python-chardet
SPECS/python-charset-normalizer
SPECS/python-cherrypy
SPECS/python-click
SPECS/python-conda-libmamba-solver
SPECS/python-conda-package-handling
SPECS/python-conda-package-streaming
SPECS/python-configobj
SPECS/python-constantly
SPECS/python-coverage
SPECS/python-cpuinfo
SPECS/python-cryptography
SPECS/python-cstruct
SPECS/python-cytoolz
SPECS/python-daemon
SPECS/python-dateutil
SPECS/python-decorator
SPECS/python-defusedxml
SPECS/python-distlib
SPECS/python-distro
SPECS/python-docopt
SPECS/python-docutils
SPECS/python-ecdsa
SPECS/python-editables
SPECS/python-ethtool
SPECS/python-evdev
SPECS/python-execnet
SPECS/python-fastjsonschema
SPECS/python-fields
SPECS/python-filelock
SPECS/python-flit
SPECS/python-flit-core
SPECS/python-frozendict
SPECS/python-gast
SPECS/python-gevent
SPECS/python-google-auth
SPECS/python-google-auth-oauthlib
SPECS/python-google-pasta
SPECS/python-greenlet
SPECS/python-h5py
SPECS/python-hatch-fancy-pypi-readme
SPECS/python-hatch-vcs
SPECS/python-hatchling
SPECS/python-html5lib
SPECS/python-hyperlink
SPECS/python-hypothesis
SPECS/python-idna
SPECS/python-imagesize
SPECS/python-importlib-metadata
SPECS/python-incremental
SPECS/python-iniconfig
SPECS/python-iniparse
SPECS/python-ipaddr
SPECS/python-jinja2
SPECS/python-jmespath
SPECS/python-jsonpatch
SPECS/python-jsonpointer
SPECS/python-jsonschema
SPECS/python-junit_xml
SPECS/python-junitxml
SPECS/python-jwt
SPECS/python-kubernetes
SPECS/python-lark
SPECS/python-libclang
SPECS/python-libevdev
SPECS/python-linux-procfs
SPECS/python-lockfile
SPECS/python-logutils
SPECS/python-looseversion
SPECS/python-lxml
SPECS/python-mako
SPECS/python-markdown
SPECS/python-markdown-it-py
SPECS/python-markupsafe
SPECS/python-mdurl
SPECS/python-menuinst
SPECS/python-mistune
SPECS/python-ml-dtypes
SPECS/python-mock
SPECS/python-more-itertools
SPECS/python-mpmath
SPECS/python-msgpack
SPECS/python-namex
SPECS/python-netaddr
SPECS/python-netifaces
SPECS/python-networkx
SPECS/python-nocasedict
SPECS/python-nocaselist
SPECS/python-nose2
SPECS/python-ntplib
SPECS/python-oauthlib
SPECS/python-omegaconf
SPECS/python-openpyxl
SPECS/python-opt-einsum
SPECS/python-optree
SPECS/python-packaging
SPECS/python-pam
SPECS/python-pathspec
SPECS/python-pbr
SPECS/python-pecan
SPECS/python-pefile
SPECS/python-pexpect
SPECS/python-pip
SPECS/python-pkgconfig
SPECS/python-platformdirs
SPECS/python-pluggy
SPECS/python-ply
SPECS/python-poetry-core
SPECS/python-prettytable
SPECS/python-process-tests
SPECS/python-prometheus_client
SPECS/python-psutil
SPECS/python-psycopg2
SPECS/python-ptyprocess
SPECS/python-py
SPECS/python-pyasn1
SPECS/python-pycodestyle
SPECS/python-pycosat
SPECS/python-pycparser
SPECS/python-pycurl
SPECS/python-pygments
SPECS/python-pynacl
SPECS/python-pyproject-metadata
SPECS/python-pyroute2
SPECS/python-pyrpm
SPECS/python-pytest-benchmark
SPECS/python-pytest-cov
SPECS/python-pytest-expect
SPECS/python-pytest-flakes
SPECS/python-pytest-forked
SPECS/python-pytest-mock
SPECS/python-pytest-xdist
SPECS/python-pyudev
SPECS/python-pywbem
SPECS/python-remoto
SPECS/python-repoze-lru
SPECS/python-requests
SPECS/python-requests-oauthlib
SPECS/python-resolvelib
SPECS/python-responses
SPECS/python-retrying
SPECS/python-rich
SPECS/python-routes
SPECS/python-rpm-generators
SPECS/python-rsa
SPECS/python-ruamel-yaml
SPECS/python-ruamel-yaml-clib
SPECS/python-schedutils
SPECS/python-setuptools
SPECS/python-setuptools_scm
SPECS/python-simplejson
SPECS/python-six
SPECS/python-snowballstemmer
SPECS/python-sortedcontainers
SPECS/python-sphinx
SPECS/python-sphinx-theme-alabaster
SPECS/python-sphinx-theme-py3doc-enhanced
SPECS/python-sphinx_rtd_theme
SPECS/python-sphinxcontrib-applehelp
SPECS/python-sphinxcontrib-devhelp
SPECS/python-sphinxcontrib-htmlhelp
SPECS/python-sphinxcontrib-jsmath
SPECS/python-sphinxcontrib-qthelp
SPECS/python-sphinxcontrib-serializinghtml
SPECS/python-sphinxcontrib-websupport
SPECS/python-sqlalchemy
SPECS/python-templated-dictionary
SPECS/python-tensorboard
SPECS/python-tensorboard-plugin-wit
SPECS/python-termcolor
SPECS/python-tidy
SPECS/python-tomli
SPECS/python-toolz
SPECS/python-tox-current-env
SPECS/python-tqdm
SPECS/python-trove-classifiers
SPECS/python-twisted
SPECS/python-typing-extensions
SPECS/python-urllib3
SPECS/python-vcversioner
SPECS/python-versioneer
SPECS/python-virt-firmware
SPECS/python-virtualenv
SPECS/python-wcwidth
SPECS/python-webob
SPECS/python-websocket-client
SPECS/python-werkzeug
SPECS/python-wheel
SPECS/python-wrapt
SPECS/python-xlrd
SPECS/python-xlsxwriter
SPECS/python-yamlloader
SPECS/python-zipp
SPECS/python-zope-event
SPECS/python-zope-interface
SPECS/python-zstandard
SPECS/python-zstd
SPECS/python3
SPECS/python3-pytest-asyncio
SPECS/pytorch
SPECS/pytz
SPECS/qdox
SPECS/qt-rpm-macros
SPECS/qtbase
SPECS/qtdeclarative
SPECS/qtsvg
SPECS/qttools
SPECS/quota
SPECS/rabbitmq-server
SPECS/radvd
SPECS/ragel
SPECS/rapidjson
SPECS/re2
SPECS/readline
SPECS/reproc
SPECS/rest
SPECS/rlwrap
SPECS/rng-tools
SPECS/rocksdb
SPECS/rpcbind
SPECS/rpcsvc-proto
SPECS/rpm-mpi-hooks
SPECS/rrdtool
SPECS/rshim
SPECS/rsync
SPECS/rt-setup
SPECS/rt-tests
SPECS/rtctl
SPECS/rtl-sdr
SPECS/ruby
SPECS/rubygem-addressable
SPECS/rubygem-asciidoctor
SPECS/rubygem-bindata
SPECS/rubygem-concurrent-ruby
SPECS/rubygem-connection_pool
SPECS/rubygem-cool.io
SPECS/rubygem-digest-crc
SPECS/rubygem-elastic-transport
SPECS/rubygem-elasticsearch
SPECS/rubygem-elasticsearch-api
SPECS/rubygem-excon
SPECS/rubygem-faraday
SPECS/rubygem-faraday-em_http
SPECS/rubygem-faraday-em_synchrony
SPECS/rubygem-faraday-excon
SPECS/rubygem-faraday-httpclient
SPECS/rubygem-faraday-multipart
SPECS/rubygem-faraday-net_http
SPECS/rubygem-faraday-net_http_persistent
SPECS/rubygem-faraday-rack
SPECS/rubygem-faraday-retry
SPECS/rubygem-ffi
SPECS/rubygem-fiber-local
SPECS/rubygem-hirb
SPECS/rubygem-hoe
SPECS/rubygem-hpricot
SPECS/rubygem-http_parser
SPECS/rubygem-httpclient
SPECS/rubygem-introspection
SPECS/rubygem-io-event
SPECS/rubygem-jmespath
SPECS/rubygem-ltsv
SPECS/rubygem-metaclass
SPECS/rubygem-mini_portile2
SPECS/rubygem-minitest
SPECS/rubygem-mocha
SPECS/rubygem-msgpack
SPECS/rubygem-multi_json
SPECS/rubygem-multipart-post
SPECS/rubygem-mustache
SPECS/rubygem-net-http-persistent
SPECS/rubygem-nio4r
SPECS/rubygem-nokogiri
SPECS/rubygem-oj
SPECS/rubygem-parallel
SPECS/rubygem-power_assert
SPECS/rubygem-prometheus-client
SPECS/rubygem-protocol-hpack
SPECS/rubygem-protocol-http
SPECS/rubygem-protocol-http1
SPECS/rubygem-protocol-http2
SPECS/rubygem-public_suffix
SPECS/rubygem-rake
SPECS/rubygem-rake-compiler
SPECS/rubygem-rdiscount
SPECS/rubygem-rdkafka
SPECS/rubygem-rexml
SPECS/rubygem-ronn
SPECS/rubygem-rspec
SPECS/rubygem-ruby-kafka
SPECS/rubygem-ruby-progressbar
SPECS/rubygem-rubyzip
SPECS/rubygem-semantic_puppet
SPECS/rubygem-serverengine
SPECS/rubygem-sigdump
SPECS/rubygem-strptime
SPECS/rubygem-systemd-journal
SPECS/rubygem-test-unit
SPECS/rubygem-timers
SPECS/rubygem-tzinfo
SPECS/rubygem-tzinfo-data
SPECS/rubygem-webhdfs
SPECS/rubygem-webrick
SPECS/rubygem-yajl-ruby
SPECS/rubygem-zip-zip
SPECS/rust
SPECS/sanlock
SPECS/scons
SPECS/scrub
SPECS/sdbus-cpp
SPECS/seabios
SPECS/secilc
SPECS/sed
SPECS/setools
SPECS/sg3_utils
SPECS/sgabios
SPECS/sgml-common
SPECS/sgx-backwards-compatibility
SPECS/shared-mime-info
SPECS/sharutils
SPECS/shim
SPECS/shim-unsigned-aarch64
SPECS/shim-unsigned-x64
SPECS/simdjson
SPECS/sisu
SPECS/slang
SPECS/sleuthkit
SPECS/slf4j
SPECS/smartmontools
SPECS/snappy
SPECS/socat
SPECS/socket_wrapper
SPECS/sockperf
SPECS/softhsm
SPECS/sos
SPECS/span-lite
SPECS/spdlog
SPECS/sqlite
SPECS/squashfs-tools
SPECS/squid
SPECS/sscg
SPECS/sshpass
SPECS/strongswan
SPECS/stunnel
SPECS/subunit
SPECS/subversion
SPECS/sudo
SPECS/swig
SPECS/swtpm
SPECS/symlinks
SPECS/sympy
SPECS/sysbench
SPECS/sysfsutils
SPECS/syslinux
SPECS/syslog-ng
SPECS/sysstat
SPECS/systemtap
SPECS/tar
SPECS/tboot
SPECS/tcl
SPECS/tcpdump
SPECS/tcsh
SPECS/tensorflow
SPECS/texinfo
SPECS/tidy
SPECS/time
SPECS/tini
SPECS/tinycdb
SPECS/tinyxml2
SPECS/tmux
SPECS/tokyocabinet
SPECS/toml11
SPECS/tpm2-abrmd
SPECS/tpm2-pkcs11
SPECS/tpm2-pytss
SPECS/tpm2-tools
SPECS/tpm2-tss
SPECS/trace-cmd
SPECS/tracelogging
SPECS/traceroute
SPECS/tree
SPECS/ttembed
SPECS/tuna
SPECS/tuned
SPECS/tzdata
SPECS/uclibc-ng
SPECS/ucx
SPECS/uid_wrapper
SPECS/unbound
SPECS/unixODBC
SPECS/unzip
SPECS/usbredir
SPECS/usbutils
SPECS/userspace-rcu
SPECS/usrsctp
SPECS/utf8proc
SPECS/util-linux
SPECS/uuid
SPECS/vala
SPECS/valgrind
SPECS/valkey
SPECS/vim
SPECS/virglrenderer
SPECS/virt-what
SPECS/virtiofsd
SPECS/vnstat
SPECS/vsftpd
SPECS/vulkan-headers
SPECS/vulkan-loader
SPECS/websocketpp
SPECS/wget
SPECS/which
SPECS/wireguard-tools
SPECS/wireless-regdb
SPECS/words
SPECS/wpa_supplicant
SPECS/xcb-proto
SPECS/xcb-util
SPECS/xcb-util-image
SPECS/xcb-util-keysyms
SPECS/xcb-util-renderutil
SPECS/xcursor-themes
SPECS/xerces-c
SPECS/xfsprogs
SPECS/xinetd
SPECS/xkeyboard-config
SPECS/xml-commons-apis
SPECS/xml-commons-resolver
SPECS/xmlsec1
SPECS/xmlstarlet
SPECS/xmlto
SPECS/xmltoman
SPECS/xmvn
SPECS/xorg-x11-apps
SPECS/xorg-x11-font-utils
SPECS/xorg-x11-proto-devel
SPECS/xorg-x11-server-Xwayland
SPECS/xorg-x11-server-utils
SPECS/xorg-x11-util-macros
SPECS/xorg-x11-xauth
SPECS/xorg-x11-xbitmaps
SPECS/xorg-x11-xinit
SPECS/xorg-x11-xkb-utils
SPECS/xorg-x11-xtrans-devel
SPECS/xxhash
SPECS/xz
SPECS/yajl
SPECS/yaml-cpp
SPECS/yasm
SPECS/yp-tools
SPECS/ypbind
SPECS/zchunk
SPECS/zerofree
SPECS/zeromq
SPECS/zfs-fuse
SPECS/zip
SPECS/zipper
SPECS/zlib
SPECS/zsh
SPECS/zstd
