CUnit
Cython
GSL
IP2Location
ModemManager
OpenIPMI
PyYAML
R
SymCrypt
SymCrypt-OpenSSL
abseil-cpp
acl
acpica-tools
adwaita-icon-theme
afflib
aide
alsa-utils
annobin
ansible
ant
ant-junit
antlr
apache-commons-cli
apache-commons-lang3
apache-commons-logging
application-gateway-kubernetes-ingress
apr
apr-util
archivemount
asciidoc
aspell
at
at-spi2-atk
at-spi2-core
atf
atftp
atinject
atk
atop
attr
audit
augeas
authbind
authd
authselect
autoconf
autoconf-archive
autoconf213
autofs
autogen
automake
avahi
azcopy
azure-iot-sdk-c
azure-nvme-utils
azure-storage-cpp
azurelinux-image-tools
babel
babeltrace2
bash
bash-completion
bazel
bc
bcc
bind
binutils
bison
blktrace
bluez
bmake
bmon
boost
bpftrace
brotli
btrfs-progs
bubblewrap
byacc
byaccj
bzip2
c-ares
cairo
cal10n
catch
ccache
cdrkit
ceph
cereal
cert-manager
cf-cli
check
check-restart
checkpolicy
checksec
chkconfig
chrony
chrpath
cifs-utils
ck
clamav
clang
cloud-hypervisor
cloud-utils-growpart
cmake
cmocka
cni
cni-plugins
collectd
colm
color-filesystem
colord
compiler-rt
conda
conmon
conntrack-tools
containerized-data-importer
coreutils
cpio
cpprest
cppunit
cpufrequtils
cpulimit
cracklib
crash
crash-gcore-command
createrepo_c
cri-tools
cryptsetup
ctags
cups
curl
cyrus-sasl
cyrus-sasl-bootstrap
dasel
dbus
dbus-glib
dbus-python
dconf
debootstrap
debugedit
dejagnu
dejavu-fonts
desktop-file-utils
device-mapper-multipath
dhcpcd
dialog
dietlibc
diffutils
ding-libs
distribution-gpg-keys
dkms
dmidecode
dnf
dnf-plugins-core
dnf5
dnsmasq
docbook-dtd-xml
docbook-dtds
docbook-style-xsl
docbook5-schemas
docker-buildx
docker-cli
docker-compose
dos2unix
doxygen
dpdk
dstat
dtc
duktape
dwarves
dwz
e2fsprogs
ebtables
ed
edk2
efivar
egl-wayland
eglexternalplatform
elixir
emacs
enchant2
environment-modules
erlang
erofs-utils
espeak-ng
espeakup
etcd
execstack
expect
expected
extra-cmake-modules
fakeroot
fcgi
fdupes
file
filesystem
fillup
findutils
fio
firewalld
flannel
flatbuffers
flex
flux
fmt
fontawesome-fonts
fontawesome4-fonts
fontconfig
fontpackages
fping
freefont
freeglut
freeipmi
freetype
fribidi
frr
fsverity-utils
fuse
fuse-zip
fuse3
gawk
gbenchmark
gc
gcc
gcovr
gd
gdb
gdbm
gdk-pixbuf2
geos
gettext
gflags
gfs2-utils
gh
giflib
git
git-lfs
glib
glib-networking
glibc
glibmm
glslang
glusterfs
gmp
gnome-common
gnu-efi
gnupg2
gnuplot
gnutls
go-md2man
gobject-introspection
golang-packaging
google-guice
google-roboto-slab-fonts
gperf
gperftools
gpgme
gptfdisk
graphviz
grep
grpc
grubby
gsettings-desktop-schemas
gsm
gtest
gtk-doc
gtk-update-icon-cache
gtk2
gtk3
guava
guile
gzip
hamcrest
haproxy
hardening-check
harfbuzz
haveged
hdf5
hdparm
heimdal
help2man
hexedit
hicolor-icon-theme
hivex
hostname
htop
http-parser
httpd
hunspell
hunspell-en
hwdata
hwloc
hyperscan
hyperv-daemons
i2c-tools
iana-etc
ibarr
ibsim
icoutils
icu
im-chooser
imsettings
infinipath-psm
influx-cli
influxdb
inih
iniparser
initramfs
initscripts
inotify-tools
intel-ipsec-mb
intel-pf-bb-config
intltool
iotop
iperf3
ipmitool
ipset
iptables
iptraf-ng
iputils
ipvsadm
ipxe
irqbalance
iscsi-initiator-utils
isns-utils
itstool
ivykis
iw
jakarta-servlet
jansson
jasper
java-cup
javapackages-bootstrap
javapackages-tools
javassist
jemalloc
jflex
jna
jq
json-c
json-glib
jsonbuilder
jsr-305
junit
jurand
jx
kata-containers
kata-containers-cc
kata-packages-uvm
kbd
kde-settings
keepalived
keda
keras
kernel-64k
kernel-hwe
kernel-hwe-headers
kernel-srpm-macros
kernel-uvm
keyutils
kf
kf-kconfig
kf-kcoreaddons
kf-ki18n
kf-kwidgetsaddons
kmod
kpatch
kpmcore
krb5
ksh
kube-vip-cloud-provider
kubernetes
kubevirt
kured
kyua
lapack
lato-fonts
lcms2
ldns
less
leveldb
libICE
libSM
libX11
libXau
libXaw
libXcomposite
libXcursor
libXdamage
libXdmcp
libXext
libXfixes
libXfont2
libXft
libXi
libXinerama
libXmu
libXpm
libXrandr
libXrender
libXres
libXt
libXtst
libXv
libXxf86vm
libacvp
libaec
libaio
libarchive
libarrow
libassuan
libatasmart
libatomic_ops
libburn
libcacard
libcap
libcap-ng
libcgroup
libcomps
libconfig
libconfini
libconfuse
libcontainers-common
libcxx
libdaemon
libdb
libdecor
libdnet
libdnf
libdwarf
libecap
libedit
libei
libell
libepoxy
libestr
libev
libevdev
libevent
libexif
libfabric
libfastjson
libffi
libfontenc
libgcrypt
libgdiplus
libgit2
libglvnd
libgpg-error
libgssglue
libgudev
libguestfs
libgusb
libgxim
libhugetlbfs
libical
libidn2
libinput
libiscsi
libisoburn
libisofs
libjpeg-turbo
libkcapi
libksba
libldm
liblogging
liblognorm
liblzf
libmamba
libmaxminddb
libmbim
libmd
libmemcached-awesome
libmetalink
libmicrohttpd
libmnl
libmodulemd
libmpc
libmspack
libndp
libnetfilter_conntrack
libnetfilter_cthelper
libnetfilter_cttimeout
libnetfilter_log
libnetfilter_queue
libnfnetlink
libnfs
libnftnl
libnl3
libnotify
libnsl2
libnvidia-container
libnvme
libpcap
libpciaccess
libpipeline
libpng
libpsl
libpsm2
libpwquality
libqmi
librdkafka
librelp
librepo
libreswan
librsvg2
librsync
libsafec
libselinux
libsemanage
libsepol
libserf
libsigc++30
libslirp
libsmi
libsndfile
libsodium
libsolv
libsoup
libssh
libssh2
libstoragemgmt
libtalloc
libtar
libtasn1
libtdb
libtiff
libtirpc
libtool
libtpms
libtracecmd
libtraceevent
libtracefs
libunistring
libunwind
liburing
libusb
libuser
libuv
libvma
libvirt-dbus
libvirt-glib
libvirt-java
libvirt-python
libvoikko
libvorbis
libwacom
libwebp
libxcb
libxcvt
libxfce4util
libxkbcommon
libxkbfile
libxml++
libxml2
libxshmfence
libxslt
libyaml
libyang
libzip
lksctp-tools
lld
lldb
lldpad
lldpd
llvm
lm-sensors
lmdb
log4cpp
logrotate
lsb-release
lshw
lsof
lsscsi
ltp
ltrace
lttng-consume
lttng-tools
lttng-ust
lua
lua-rpm-macros
luajit
lujavrite
lutok
lvm2
lynx
lz4
lzo
lzop
m2crypto
m4
mac-robber
mailcap
make
malaga
malaga-suomi-voikko
man-db
man-pages
mandoc
mariadb
maven
maven-compiler-plugin
maven-jar-plugin
maven-resolver
maven-resources-plugin
maven-surefire
maven-wagon
mc
mcpp
mcstrans
mdadm
mdevctl
memcached
mercurial
mesa-libGLU
mlnx-ethtool
mlnx-iproute2
mlnx-tools
mlocate
mlx-steering-dump
mm-common
mokutil
mpfr
msgpack
msr-tools
mstflint
mtdev
mtools
mtr
multiperf
multus
munge
mysql
nano
nasm
nbd
nbdkit
ncompress
ncurses
ndctl
net-snmp
net-tools
netavark
netplan
nettle
networkd-dispatcher
newt
nfs-utils
nfs4-acl-tools
nftables
nghttp2
nginx
ninja-build
nlohmann-json
nlopt
nmap
nodejs
nodejs24
npth
nspr
nss
nss-altfiles
nss-mdns
nss_nis
nss_wrapper
ntfs-3g
ntfs-3g-system-compression
ntopng
ntp
numactl
numad
numpy
nvidia-container-toolkit
nvme-cli
nvml
oath-toolkit
objectweb-asm
ocaml
ocaml-alcotest
ocaml-astring
ocaml-augeas
ocaml-base
ocaml-bigarray-compat
ocaml-bisect-ppx
ocaml-camlp-streams
ocaml-camomile
ocaml-cinaps
ocaml-cmdliner
ocaml-compiler-libs-janestreet
ocaml-cppo
ocaml-csexp
ocaml-ctypes
ocaml-dune
ocaml-findlib
ocaml-fmt
ocaml-gettext
ocaml-integers
ocaml-luv
ocaml-lwt
ocaml-mmap
ocaml-num
ocaml-ocamlbuild
ocaml-ocplib-endian
ocaml-ounit
ocaml-parsexp
ocaml-pp
ocaml-ppx-derivers
ocaml-ppx-here
ocaml-ppx-let
ocaml-ppxlib
ocaml-re
ocaml-react
ocaml-result
ocaml-seq
ocaml-sexplib
ocaml-sexplib0
ocaml-srpm-macros
ocaml-stdio
ocaml-stdlib-random
ocaml-topkg
ocaml-uutf
ofed-docs
ofed-scripts
oniguruma
opa
open-vm-tools
opencsd
openldap
openmpi
opensc
openscap
opensm
opensp
openssl
openssl-pkcs11
opentelemetry-cpp
openvswitch
orangefs
ostree
p11-kit
p7zip
packer
pam
pam_krb5
pam_wrapper
pango
parted
patch
patchelf
patchutils
patterns-ceph-containers
pcaudiolib
pciutils
pcre2
pcsc-lite
pcsc-lite-ccid
perftest
perl
perl-Algorithm-C3
perl-App-cpanminus
perl-Archive-Zip
perl-B-COW
perl-B-Hooks-OP-Check
perl-Bit-Vector
perl-Bytes-Random-Secure
perl-CGI
perl-CPAN-Changes
perl-CPAN-DistnameInfo
perl-CPAN-Meta-Check
perl-Canary-Stability
perl-Capture-Tiny
perl-Carp-Clan
perl-Class-ISA
perl-Class-Method-Modifiers
perl-Class-XSAccessor
perl-Clone
perl-Compress-Bzip2
perl-Crypt-Random-Seed
perl-Crypt-SSLeay
perl-DBD-SQLite
perl-DBI
perl-DBIx-Simple
perl-Data-Dump
perl-Data-OptList
perl-Date-Calc
perl-Devel-Caller
perl-Devel-CheckBin
perl-Devel-CheckLib
perl-Devel-Cycle
perl-Devel-GlobalDestruction
perl-Devel-GlobalDestruction-XS
perl-Devel-Hide
perl-Devel-LexAlias
perl-Devel-Refcount
perl-Devel-StackTrace
perl-Devel-Symdump
perl-Digest-HMAC
perl-Digest-SHA1
perl-Encode-Locale
perl-Expect
perl-Exporter-Tiny
perl-ExtUtils-Depends
perl-Fedora-VSP
perl-File-HomeDir
perl-File-Listing
perl-File-Which
perl-File-pushd
perl-HTML-Parser
perl-HTML-Tagset
perl-HTTP-Cookies
perl-HTTP-Daemon
perl-HTTP-Date
perl-HTTP-Message
perl-HTTP-Negotiate
perl-IO-HTML
perl-IO-Socket-SSL
perl-IO-String
perl-IO-Tty
perl-IO-stringy
perl-Import-Into
perl-JSON
perl-JSON-Any
perl-JSON-XS
perl-LWP-MediaTypes
perl-List-MoreUtils
perl-Match-Simple
perl-Math-Random-ISAAC
perl-Mock-Config
perl-Module-Build
perl-Module-CPANfile
perl-Module-Implementation
perl-Module-Install
perl-Module-Install-AuthorTests
perl-Module-Install-Repository
perl-Module-Runtime
perl-Module-ScanDeps
perl-Moo
perl-NTLM
perl-Net-HTTP
perl-Net-SSLeay
perl-NetAddr-IP
perl-Object-Accessor
perl-Package-Generator
perl-PadWalker
perl-Params-Util
perl-Parse-PMFile
perl-Path-Class
perl-Perl-Destruct-Level
perl-Pod-Coverage
perl-Pod-Parser
perl-Role-Tiny
perl-SUPER
perl-String-ShellQuote
perl-Sub-Exporter
perl-Sub-Exporter-Progressive
perl-Sub-Identify
perl-Sub-Infix
perl-Sub-Install
perl-Sub-Name
perl-Sub-Quote
perl-Sys-Virt
perl-Test-Deep
perl-Test-Fatal
perl-Test-Harness
perl-Test-LeakTrace
perl-Test-Memory-Cycle
perl-Test-Needs
perl-Test-NoWarnings
perl-Test-Output
perl-Test-Pod
perl-Test-Pod-Coverage
perl-Test-Requires
perl-Test-Taint
perl-Test-Warnings
perl-Test-Without-Module
perl-Text-Template
perl-TimeDate
perl-Try-Tiny
perl-Type-Tiny
perl-Types-Serialiser
perl-URI
perl-WWW-Curl
perl-WWW-RobotRules
perl-XML-LibXML
perl-XML-NamespaceSupport
perl-XML-Parser
perl-XML-SAX
perl-XML-SAX-Base
perl-XML-XPath
perl-YAML
perl-YAML-Tiny
perl-bareword-filehandles
perl-common-sense
perl-generators
perl-indirect
perl-libintl-perl
perl-libwww-perl
perl-local-lib
perl-multidimensional
perl-strictures
pgbouncer
php
php-pear
php-pecl-apcu
php-pecl-zip
picosat
pigz
pinentry
pixman
pkgconf
plexus-cipher
plexus-classworlds
plexus-containers
plexus-interpolation
plexus-sec-dispatcher
plexus-utils
pmix
poetry
policycoreutils
polkit
polkit-qt-1
popt
postfix
postgresql
priv_wrapper
procps-ng
prometheus-adapter
prometheus-node-exporter
prometheus-process-exporter
protobuf
protobuf-c
psmisc
pssh
pth
pugixml
pwgen
pyOpenSSL
pyasn1-modules
pybind11
pycairo
pyelftools
pyflakes
pygobject3
pyparsing
pyproject-rpm-macros
pytest
python-absl-py
python-appdirs
python-archspec
python-asn1crypto
python-astunparse
python-async-generator
python-atomicwrites
python-attrs
python-backoff
python-bcrypt
python-blinker
python-boltons
python-cached_property
python-cachetools
python-certifi
python-cffi
python-chardet
python-charset-normalizer
python-cherrypy
python-click
python-conda-libmamba-solver
python-conda-package-handling
python-conda-package-streaming
python-configobj
python-constantly
python-coverage
python-cpuinfo
python-cryptography
python-cstruct
python-cytoolz
python-daemon
python-dateutil
python-decorator
python-defusedxml
python-distlib
python-distro
python-docopt
python-docutils
python-ecdsa
python-editables
python-ethtool
python-evdev
python-execnet
python-fastjsonschema
python-fields
python-filelock
python-flit
python-flit-core
python-frozendict
python-gast
python-gevent
python-google-auth
python-google-auth-oauthlib
python-google-pasta
python-greenlet
python-h5py
python-hatch-fancy-pypi-readme
python-hatch-vcs
python-hatchling
python-html5lib
python-hyperlink
python-hypothesis
python-idna
python-imagesize
python-importlib-metadata
python-incremental
python-iniconfig
python-iniparse
python-ipaddr
python-jinja2
python-jmespath
python-jsonpatch
python-jsonpointer
python-jsonschema
python-junit_xml
python-junitxml
python-jwt
python-kubernetes
python-lark
python-libclang
python-libevdev
python-linux-procfs
python-lockfile
python-logutils
python-looseversion
python-lxml
python-mako
python-markdown
python-markdown-it-py
python-markupsafe
python-mdurl
python-menuinst
python-mistune
python-ml-dtypes
python-mock
python-more-itertools
python-mpmath
python-msgpack
python-namex
python-netaddr
python-netifaces
python-networkx
python-nocasedict
python-nocaselist
python-nose2
python-ntplib
python-oauthlib
python-omegaconf
python-openpyxl
python-opt-einsum
python-optree
python-packaging
python-pam
python-pathspec
python-pbr
python-pecan
python-pefile
python-pexpect
python-pip
python-pkgconfig
python-platformdirs
python-pluggy
python-ply
python-poetry-core
python-prettytable
python-process-tests
python-prometheus_client
python-psutil
python-psycopg2
python-ptyprocess
python-py
python-pyasn1
python-pycodestyle
python-pycosat
python-pycparser
python-pycurl
python-pygments
python-pynacl
python-pyproject-metadata
python-pyroute2
python-pyrpm
python-pytest-benchmark
python-pytest-cov
python-pytest-expect
python-pytest-flakes
python-pytest-forked
python-pytest-mock
python-pytest-xdist
python-pyudev
python-pywbem
python-remoto
python-repoze-lru
python-requests
python-requests-oauthlib
python-resolvelib
python-responses
python-retrying
python-rich
python-routes
python-rpm-generators
python-rsa
python-ruamel-yaml
python-ruamel-yaml-clib
python-schedutils
python-setuptools
python-setuptools_scm
python-simplejson
python-six
python-snowballstemmer
python-sortedcontainers
python-sphinx
python-sphinx-theme-alabaster
python-sphinx-theme-py3doc-enhanced
python-sphinx_rtd_theme
python-sphinxcontrib-applehelp
python-sphinxcontrib-devhelp
python-sphinxcontrib-htmlhelp
python-sphinxcontrib-jsmath
python-sphinxcontrib-qthelp
python-sphinxcontrib-serializinghtml
python-sphinxcontrib-websupport
python-sqlalchemy
python-templated-dictionary
python-tensorboard
python-tensorboard-plugin-wit
python-termcolor
python-tidy
python-tomli
python-toolz
python-tox-current-env
python-tqdm
python-trove-classifiers
python-twisted
python-typing-extensions
python-urllib3
python-vcversioner
python-versioneer
python-virt-firmware
python-virtualenv
python-wcwidth
python-webob
python-websocket-client
python-werkzeug
python-wheel
python-wrapt
python-xlrd
python-xlsxwriter
python-yamlloader
python-zipp
python-zope-event
python-zope-interface
python-zstandard
python-zstd
python3
python3-pytest-asyncio
pytorch
pytz
qdox
qt-rpm-macros
qtbase
qtdeclarative
qtsvg
qttools
quota
rabbitmq-server
radvd
ragel
rapidjson
re2
readline
reproc
rest
rlwrap
rng-tools
rocksdb
rpcbind
rpcsvc-proto
rpm-mpi-hooks
rrdtool
rshim
rsync
rt-setup
rt-tests
rtctl
rtl-sdr
ruby
rubygem-addressable
rubygem-asciidoctor
rubygem-bindata
rubygem-concurrent-ruby
rubygem-connection_pool
rubygem-cool.io
rubygem-digest-crc
rubygem-elastic-transport
rubygem-elasticsearch
rubygem-elasticsearch-api
rubygem-excon
rubygem-faraday
rubygem-faraday-em_http
rubygem-faraday-em_synchrony
rubygem-faraday-excon
rubygem-faraday-httpclient
rubygem-faraday-multipart
rubygem-faraday-net_http
rubygem-faraday-net_http_persistent
rubygem-faraday-rack
rubygem-faraday-retry
rubygem-ffi
rubygem-fiber-local
rubygem-hirb
rubygem-hoe
rubygem-hpricot
rubygem-http_parser
rubygem-httpclient
rubygem-introspection
rubygem-io-event
rubygem-jmespath
rubygem-ltsv
rubygem-metaclass
rubygem-mini_portile2
rubygem-minitest
rubygem-mocha
rubygem-msgpack
rubygem-multi_json
rubygem-multipart-post
rubygem-mustache
rubygem-net-http-persistent
rubygem-nio4r
rubygem-nokogiri
rubygem-oj
rubygem-parallel
rubygem-power_assert
rubygem-prometheus-client
rubygem-protocol-hpack
rubygem-protocol-http
rubygem-protocol-http1
rubygem-protocol-http2
rubygem-public_suffix
rubygem-rake
rubygem-rake-compiler
rubygem-rdiscount
rubygem-rdkafka
rubygem-rexml
rubygem-ronn
rubygem-rspec
rubygem-ruby-kafka
rubygem-ruby-progressbar
rubygem-rubyzip
rubygem-semantic_puppet
rubygem-serverengine
rubygem-sigdump
rubygem-strptime
rubygem-systemd-journal
rubygem-test-unit
rubygem-timers
rubygem-tzinfo
rubygem-tzinfo-data
rubygem-webhdfs
rubygem-webrick
rubygem-yajl-ruby
rubygem-zip-zip
runc
rust
sanlock
scons
scrub
sdbus-cpp
seabios
secilc
sed
setools
sg3_utils
sgabios
sgml-common
sgx-backwards-compatibility
skopeo
shared-mime-info
sharutils
shim
shim-unsigned-aarch64
shim-unsigned-x64
simdjson
sisu
slang
sleuthkit
slf4j
smartmontools
snappy
socat
socket_wrapper
sockperf
softhsm
sos
span-lite
spdlog
sqlite
squashfs-tools
squid
sriov-network-device-plugin
sscg
sshpass
strongswan
subunit
subversion
sudo
swig
swtpm
symlinks
sympy
sysbench
sysfsutils
syslinux
syslog-ng
sysstat
systemtap
tar
tboot
tcl
tcpdump
tcsh
tensorflow
texinfo
thrift
tidy
time
tini
tinycdb
tinyxml2
tmux
tokyocabinet
toml11
tpm2-abrmd
tpm2-pkcs11
tpm2-pytss
tpm2-tools
tpm2-tss
trace-cmd
tracelogging
traceroute
tree
ttembed
tuna
tuned
tzdata
uclibc-ng
ucx
uid_wrapper
unbound
unixODBC
unzip
usbredir
usbutils
userspace-rcu
usrsctp
utf8proc
util-linux
uuid
vala
valgrind
valkey
vim
virglrenderer
virt-what
virtiofsd
vnstat
vsftpd
vulkan-headers
vulkan-loader
websocketpp
wget
which
wireguard-tools
wireless-regdb
words
wpa_supplicant
xcb-proto
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcursor-themes
xerces-c
xfsprogs
xinetd
xkeyboard-config
xml-commons-apis
xml-commons-resolver
xmlsec1
xmlstarlet
xmlto
xmltoman
xmvn
xorg-x11-apps
xorg-x11-font-utils
xorg-x11-proto-devel
xorg-x11-server-Xwayland
xorg-x11-server-utils
xorg-x11-util-macros
xorg-x11-xauth
xorg-x11-xbitmaps
xorg-x11-xinit
xorg-x11-xkb-utils
xorg-x11-xtrans-devel
xxhash
xz
yajl
yaml-cpp
yasm
yp-tools
ypbind
zchunk
zerofree
zeromq
zfs-fuse
zip
zipper
zlib
zsh
zstd
